body {
    background-color: gray;
}
main {
    background-color: white;
    text-align: center;
}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
section {
    text-align: center;
    width: 500px;
   
}

#imagenPerfil {
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 211px;
    height: 240px;
    
}

.interes {
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    vertical-align: top;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 211px;
    text-align: left;
}
.resaltado {
    font-weight: bold;
}
.principal{
    text-align: center;
}

